/base_scenarios_II_III_IV.hdf5
/base_scenarios_I_V.hdf5
/base+II_I+III_V_scenarios_I_V.hdf5
/midline_base_midline_scenarios_II_III_IV.hdf5
/midline+II_I+III_V_midline_scenarios_II_III_IV.hdf5
/midline_base_midline_scenarios_I_V.hdf5
/midline+II_I+III_V_midline_scenarios_I_V.hdf5
/midline+II_I+III_V_contra.hdf5
/midline+II_I+III_V_contra_upstream.hdf5
