/contra_by_t_and_midext.pdf
/contra_by_inv_midext.pdf
/data_ipsi_by_tstage.pdf
/base_prevalences_LNLII.pdf
/base_prevalences_LNLIII.pdf
/base_prevalences_LNLIV.pdf
/winning_vs_base_I.pdf
/winning_vs_base_V.pdf
/midline_base_prevalences_LNLII.pdf
/midline_base_prevalences_LNLIII.pdf
/midline_base_prevalences_LNLIV.pdf
/midline_contra_prevalences.pdf
/midline_contra_prevalences_old.pdf
/risks_ipsi.pdf
/risks_contra.pdf
/plots_base*.pdf
/midline_winning_vs_base_I.pdf
/midline_winning_vs_base_V.pdf
/midline_contra_upstream_prevalences_LNLI.pdf
/midline_contra_upstream_prevalences_LNLIII.pdf
/midline_contra_upstream_prevalences_LNLI_old.pdf
/midline_contra_upstream_prevalences_LNLIII_old.pdf
/history_plots
/midline_II_I_III_V_prevalences_LNLII.pdf
/midline_II_I_III_V_prevalences_LNLIII.pdf
/midline_II_I_III_V_prevalences_LNLIV.pdf
