/contra_by_t_and_midext.pdf
/contra_by_inv_midext.pdf
/data_ipsi_by_tstage.pdf
/midline_base_prevalences_LNLII.pdf
/midline_base_prevalences_LNLIII.pdf
/midline_base_prevalences_LNLIV.pdf
/midline_contra_prevalences.pdf
/risks_ipsi.pdf
/risks_contra.pdf
/midline_winning_vs_base_I.pdf
/midline_winning_vs_base_V.pdf
/midline_contra_upstream_prevalences_LNLI.pdf
/midline_contra_upstream_prevalences_LNLIII.pdf
/midline_II_I_III_V_prevalences_LNLII.pdf
/midline_II_I_III_V_prevalences_LNLIII.pdf
/midline_II_I_III_V_prevalences_LNLIV.pdf
/ti_steps
/mcmc_traceplot.pdf
/burnin_history.pdf
/mcmc_cornerplot.pdf
